<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/base.css?v=1">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <section id="head">
    <div class="wrapper">
      <div id="header">
         Blo
      </div>
      <div id="header1">
        <a class="button_menu" href="/">G</a>
      </div>
      <div id="login">
        <a class="button_menu" href="/users/exit">Вхід</a>
      </div>
      <div id="register">
        <a class="button_menu" href="/users/new" type='submit' >Реєстрація</a>
      </div>
      <div id="user_acount">
        <a class="button_menu" href="/users" type='submit' >Мій акаунт</a>
      </div>
      <div id="all_post_form">
        <a class="button_menu" href="/all_post" type='submit' >Всі пости</a>
      </div>
    </div>
    <div id="block_menu">{% block menu %}{% endblock %}</div>
   </div>
 </section>
</body>
</html>
