<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/base.css?v=1">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <section id="head">
    <div class="wrapper">
      <div id="header">
         Blo
      </div>
      <div id="header1">
        <a class="button_menu" href="/">G</a>
      </div>
      <div id="logout">
        <a class="button_menu" href="/logout" type='submit' >Вихід</a>
      </div>
    </div>
    <div id="block_menu">{% block menu %}{% endblock %}</div>
   </div>
 </section>
</body>
</html>
