{% extends 'base.html' %}

{% block title %}
Реєстрація
{% endblock %}

{% block menu %}
<head>
  <link rel="stylesheet" href="/static/css/base.css?v=1">
</head>
<body>
  <form action="/users/new" method="post" class="form-contact">
    <p id="text_login">Реєстрація користувача</p>
    <div id="register_flash" class="flash_massage">
      {{ super() }}
      {% for cat, msg in get_flashed_messages(True) %}
      <div class="flash {{cat}}">{{msg}}</div>
      {% endfor %}
    </div>
    <div>
      <p><input type="text" class="form-login" id="first_name" name="first_name" required maxlength="15" placeholder="Введіть ім'я(максимум 15 символів)"></p>
      <p><input type="text" class="form-login" id="last_name" name="last_name" required maxlength="20" placeholder="Введіть прізвище(максимум 20 символів)"></p>
      <p><input type="email" class="form-login" id="email" name="email" required placeholder=" Введіть Email(email@example.com)"></p>
      <p><input type="password" class="form-login" id="password" name="password" required placeholder=" Введіть пароль(більше 8-ми символів)"></p>
      <p><input type="password" class="form-login" id="password2" name="password2" required placeholder=" Повторіть пароль"></p>
      <input type='submit' class="button_add" value="Реєстрація">
      <a class="button_exit" href="/users/exit" type='submit' >Авторизація</a>
    </div>
  </form>
</body>

{% endblock %}
